/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font-size: 110%; }

body { 
  -webkit-font-smoothing: antialiased;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Small screens (default) */
  html { font-size: 110%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 110%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 110%; }
}
 

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.content {
  float: left;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul {
  padding: 0em;
  margin-bottom: 3em;
 }

a {
  color: rgb(20, 51, 63);
  text-decoration: underline;
}

a:hover { 
  text-decoration: underline; 
}

.active {
  color: white;
}

.contactgif {
  width: 50%;
  margin: 0 25%;
  border: solid black 1px;
}

.aboutimage img {
  margin: 2em 2em;
}

.centertext {
  text-align: center;
  margin: 0 0 75px 0;
}

.container li {
  width: 100%;
  margin: 0 auto;
  float: left;
}

/* Header
   ========================================================================== */

.header {
  background-color: rgba(236,236,236,0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  top: 0;
  float: left;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  margin: 0 0 2em 0;
}

.header .title {
  color: rgb(20, 51, 63);
  z-index: 2;
  font-family: "brandon-grotesque",sans-serif;
  position: relative;
  float: left;
  margin: 2em 0;
  }
  
.header a {
  display: block;
  text-decoration: none;
}

.header h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin: 0 0 0 1em;
  text-align: left;
}

.header h3 {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0 1em 0 0;
  text-align: right;
}



/* Footer
   ========================================================================== */
footer {
  background-color: rgba(236,236,236,0.8);
  display: block;
  text-align: center;
  float: left;
  clear: both;
  width: 100%;
  margin: 2em 0 0 0;
  position: fixed;
  bottom: 0;
}

.footer container {
  margin: 10em;
}

.footer object {
  margin: 2em 2em;
  float: left;
}

/* Typography
   ========================================================================== */
   
h4 {
  margin-bottom: 0em;
}

/* Blockquote
   ========================================================================== */

blockquote { 
  margin: 0em 5em;
  font-style: italic;
}

blockquote p {
  font-weight: 300;
}

@media (min-width: 40em) {
  blockquote { margin: 0em 5em; }
}

/* Grid
   ========================================================================== */
  
.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 49%; }
.column.third { width: 33.3%; }
.column.fourth { width: 24.95%; }
.column.flow-opposite { float: right; }



/* Posts
   ========================================================================== */

.posts h2 {
  color: rgb(20, 51, 63);
  font-weight: 700;
  padding: 0;
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.posts h2 a {
  color: rgb(20, 51, 63);
  text-decoration: none;
}

.posts h2 a:hover {
  text-decoration: underline;
}

.posts h3 {
  text-align: left;
  padding: .5em 0;
  font-size: 130%;
}

p {
  font-size: 110%;
  margin-top: 0em;
}

li {
  font-size: 100%/1.5em;
  list-style-type: none;
}

.posts {
  display: block;
  float: left;
  padding: 0;
  margin-bottom: 2em;
}

.inlaid_img {
  display: block;
  float: left;
  margin: 0 2em 1em 1em;
  height: 100%;
  width: 50%;
}

.inlaid_img img {
  width: 100%;
}

.button-wrap {
  float: left;
  width: 90%;
}

.button.prev {
    display: inline-block;
    text-align: left;
    width: 49%;
}

.button.next {
    display: inline-block;
    text-align: right;
    width: 49%;
}

@media (max-width: 850px) {
  .button.next {
    right: 11%;
  }
}

.post-date {
  color: rgb(90, 94, 100);
  display: block;
  font-size: .8em;
}

.postbody {
  float: left;
}

.postimage { 
  float: left; 
  max-width: 100%;
  margin: 1em 0;
}

.captiontext {
  font-size: 75%;
  margin: 0 auto;
  max-width: 75%;
  text-align: center;
}

.post-header h1 {
  background-color: rgb(20, 51, 63);
  font-size: 1em;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 900;
}


/* Sidebar 
   ========================================================================== 


/* Syntax Highlighting
   ========================================================================== 


/* Clearfix
   ========================================================================== */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.container:before,
.container:after,
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after,
.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.container,
.cf {
    *zoom: 1;
}



