/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font-size: 100%; }

body { 
  -webkit-font-smoothing: antialiased;
  font-family: "chaparral-pro",sans-serif;
font-style: normal;
font-weight: 400;
}

/* Small screens (default) */
  html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 125%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 150%; }
}
 

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding-bottom: 2em;
  width: 90%;
}

.content {
  width: 70%;
  float: left;
  margin: 0 0 0 5%;
  max-width: 33em;
}

.sticky-wrapper {
  float: right;
  width: 25%;
}

.sidebar {
  font-size: 80%;
  width: 280px;
  padding: 2em 0 2em 2em;
  float: left;
  text-align: left;
  max-width: 15em;
}

.sidepic {
  opacity: 0.2;
  width: 100%;
}

ul {
  text-align: center;
  padding: 0em;
 }

a {
  color: #00C16C;
  text-decoration: bold;
}

a:hover { 
  text-decoration: underline; 
}

.contactgif {
  width: 50%;
  margin: 0 25%;
  border: solid black 1px;
}

.centertext {
  text-align: center;
  margin: 0 0 3em 0;
}

/* Header
   ========================================================================== */

.tint {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20,52,63,0.8);
  z-index: 1;
}

.header {
  background:  rgb(20, 51, 63);
  background-image: url("/images/kitty.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  float: left;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 2.5em;
  min-height: 440px;
  position: relative;
}

.header .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 28%;
  z-index: 2;
}

.header a {
  display: block;
  text-decoration: none;
}

.header h1 {
  color: #00C16C;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3em;
  letter-spacing: 2px;
  margin: 1em 0 0.25em 0;
  padding: 0 1em;
  text-align: center;
}

.header h3 {
  color: #fff;
  font-size: 0.8em;
  font-weight: 300;
  margin: 0 0 1.8em 0;
  padding: 0;
  text-align: center;
}

.post-header h1 {
  background-color: rgb(20, 51, 63);
  font-size: 1.3em;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: lowercase;
  margin: 0 0 50px 0;
  padding: 10px 0 15px 5%;
}

.post-header a {
  text-decoration: none;
}


/* Footer
   ========================================================================== */
footer {
  display: block;
  text-align: center;
  float: left;
  clear: both;
  width: 100%;
  font-size: 60%;
  background-color: rgb(231, 221, 203);
  border-top: solid rgb(3, 54, 73) 1em;
}


/* Typography
   ========================================================================== */

/* Blockquote
   ========================================================================== */

blockquote { 
  margin: 0em 5em;
  font-style: italic;
}

blockquote p {
  font-weight: 300;
}

@media (min-width: 40em) {
  blockquote { margin: 0em 5em; }
}

/* Grid
   ========================================================================== */
  
.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 49%; }
.column.third { width: 33.3%; }
.column.fourth { width: 24.95%; }
.column.flow-opposite { float: right; }


@media (max-width: 850px) {
  .header {
    margin-bottom: 0;
  }

  h1 {
    width: 100%;
    margin: 0 0 .5em 0;
    padding: 0 5%;
  }

  .container {
    width: 100%;
  }

  .posts {
    display: block;
  }

  .content {
    float: none;
    width: 90%;
    margin: 0 5%;
  }

  .sticky-wrapper {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }

  .sticky-wrapper li {
    display: inline-block;
    margin: 0 auto;
    width: 22.5%;
    text-align: left;
  }

  .sidebar {
    background-color: rgb(20, 51, 63);
    font-size: 1em;
    float: none;
    padding: 0em;
    width: 100%;
    max-width: none;
  }

  .sidebar ul {
    width: 90%;
    margin: 0 auto;
  }

  div#sticker {
    right: 0;
  }

  b {
    color: white;
  }

  .post-header h1 {
    margin: 0;
  }

 /* li {
    text-align: left;
  }*/
}


/* Posts
   ========================================================================== */

.posts h2 {
  color: rgb(20, 51, 63);
  font-weight: 700;
  padding: 0;
  font-size: 1.5em;
  margin: 0 auto;
}

.posts h2 a {
  color: rgb(20, 51, 63);
  text-decoration: none;
}

.posts h2 a:hover {
  text-decoration: underline;
}

.posts h3 {
  text-align: left;
  padding: .5em .5em 0 .5em;
  font-size: 130%;
}

p {
  font-size: 100%;
}

li {
  font-size: 80%/1.5em;
  list-style-type: none;
  text-align: center;
  padding-top: .5em;
}

.posts {
  display: block;
  float: left;
  padding: 0;
  margin-bottom: 100px;
}

.inlaid_img {
  display: block;
  float: left;
  margin: 0 2em 1em 1em;
  height: 100%;
  width: 50%;
}

.inlaid_img img {
  width: 100%;
}

.button-wrap {
  float: left;
  margin: 0 0 0 5%;
  padding: 0 2em;
  width: 70%;
  width: 90%;
}

.button.prev {
    display: inline-block;
    text-align: left;
    width: 49%;
}

.button.next {
    display: inline-block;
    text-align: right;
    width: 49%;
}

@media (max-width: 850px) {
  .button.next {
    right: 11%;
  }
}

.post-date {
  color: rgb(90, 94, 100);
  display: block;
  font-size: .8em;
}

/* Sidebar 
   ========================================================================== 


/* Syntax Highlighting
   ========================================================================== 

pre, code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre { padding: 1rem; }
code { padding: .1rem .3rem; }
pre code { border: none; }


/* Clearfix
   ========================================================================== */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.container:before,
.container:after,
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after,
.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.container,
.cf {
    *zoom: 1;
}



