/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { font-size: 100%; }

body { 
  -webkit-font-smoothing: antialiased;
  font-family: "chaparral-pro",sans-serif;
font-style: normal;
font-weight: 400;
}

/* Small screens (default) */
  html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 125%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 150%; }
}
 

.container {
  width: 100%;
  float: left;
  position: relative;
  padding-bottom: 2em;
}

.content {
  width: 70%;
  float: left;
  margin: 0 0 0 5%;
  max-width: 33em;
}

.sidebar {
  font-family: "ff-tisa-web-pro",sans-serif;
  font-size: 80%;
  width: 20%;
  padding: 2em;
  float: left;
  text-align: left;
  max-width: 15em;
}

div#sticker {
  right: 5%;
}

.sidepic {
  width: 100%;
  border-radius: 25%;
  border: solid black 1px;
}

 ul {
   text-align: center;
   padding: 0em;
 }

a {
  color: rgb(3, 101, 100);
  text-decoration: bold;
}

a:hover { 
  text-decoration: underline; 
}

.contactgif {
  width: 50%;
  margin: 0 25%;
  border: solid black 1px;
}

.centertext {
  text-align: center;
  margin: 0 0 3em 0;
}

/* Header
   ========================================================================== */

.header { background-color: rgb(3, 54, 73); 
/*          border: solid rgb(251,185,0) .5em;
*/          padding: 1em 0;
          width: 100%;
          float: left;
          font-style: normal;
          font-weight: 600; font-size: 1.25em;
          margin-bottom: 1.5em;
        }

h1 {
  font-family: "ff-tisa-web-pro",sans-serif;
  display: block;
  float: left;
  width: 100%;
  padding: 0 1em;
  text-align: center;
  font-size: 150%;
  margin: 1em 0;
  color: rgb(231, 221, 203);
}

.header img {
  border: solid black .1em;
/*  min-width: 2em;
*/  padding: 1em auto;
  width: 15%;
  float: left;
  max-width: 6em;
}


/* Footer
   ========================================================================== */
footer {
  display: block;
  text-align: center;
  float: left;
  clear: both;
  width: 100%;
  font-size: 60%;
  background-color: rgb(231, 221, 203);
  border-top: solid rgb(3, 54, 73) 1em;
}


/* Typography
   ========================================================================== */

/* Blockquote
   ========================================================================== */

blockquote { 
  margin: 0em 5em;
  font-style: italic;
}

blockquote p {
  font-weight: 300;
}

@media (min-width: 40em) {
  blockquote { margin: 0em 5em; }
}

/* Grid
   ========================================================================== */
  
.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 49%; }
.column.third { width: 33.3%; }
.column.fourth { width: 24.95%; }
.column.flow-opposite { float: right; }


@media (max-width: 850px) {
  h1 {
    width: 100%;
    margin: 0 0 .5em 0;
    padding: 0 5%;
  }
 
  .header img {
    margin: 0 40%;
    width: 20%;
  }
 
  .posts {
    display: block;
  }

  .content {
    float: none;
    width: 90%;
    margin: 0 5%;
  }

  .sidebar {
    position: relative !important; 
    font-size: 1em;
    float: none;
    padding: 2em 0em;
    text-align: center;
    width: 40%;
    margin: 0 auto;  
  }

  .sidepic {
    display: block;
    width: 50%;
    margin: 0 auto;  
    text-align: center;
    border: solid black 1px;
  }

  div#sticker {
    right: 0;
  }
}


/* Posts
   ========================================================================== */

h2 {
    text-align: center;
    padding: .5em .5em 0 .5em;
    font-size: 135%;
    text-transform: bold;
    margin: 0 auto;
}

h3 {
  text-align: left;
  padding: .5em .5em 0 .5em;
  font-size: 130%;
}

p {
  padding: 0 1em;
  font-size: 100%;
  text-indent: 0;
}

li {
  font-size: 80%/1.5em;
  list-style-type: none;
  text-align: center;
  padding-top: .5em;
}

.posts {
  display: block;
  float: left;
  padding: 0 2em;
  margin-bottom: 100px;
}

.inlaid_img {
  display: block;
  float: left;
  margin: 0 2em 1em 1em;
  height: 100%;
  width: 50%;
}

.inlaid_img img {
  width: 100%;
}

.button-wrap {
  float: left;
/*  display: inline-block;
*/  margin: 0 0 0 5%;
padding: 0 2em;
  width: 70%;
}

.button.prev {
    display: inline-block;
    text-align: left;
}

.button.next {
    display: inline-block;
    text-align: right;
}

@media (max-width: 850px) {
  .button.next {
    right: 11%;
  }
}

.post-date {
  font-size: .75em;
  display: block;
  text-align: center;
}

/* Sidebar 
   ========================================================================== 


/* Syntax Highlighting
   ========================================================================== 

pre, code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre { padding: 1rem; }
code { padding: .1rem .3rem; }
pre code { border: none; }


/* Clearfix
   ========================================================================== */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



