<footer>
  <div class="container">
    <p>thank you for visiting my website | <a href="/about">&#x270C; &#x1F60E; &#x270C;</a> | &#169 2021</p>
<!--    <p><a href="https://twitter.com/kylesparks">Twitter</a> | <a href="https://www.instagram.com/_ky_ky_sparks_/">Instagram</a> | <a href="/about">&#x270C; &#x1F60E; &#x270C;</a> | &#169 2020</p>
<!--      <p><a href="https://twitter.com/kylesparks">Twitter</a> | <a href="https://www.instagram.com/_ky_ky_sparks_/">Instagram</a> | <a href="https://www.linkedin.com/kyle-sparks-137928a3/">LinkedIn</a> | <a href="https://github.com/kylesparks">GitHub</a> | <a href="/about">&#x270C; &#x1F60E; &#x270C;</a> | &#169 2020</p>
    <!-- <div class="column fourth">
      <img src="/images/namaste.gif" />
    </div>
 -->
    <!-- <div class="object column fourth">
      <p>*~*~*~*~* &copy; {{ site.time | date: "%Y" }} p chill bro *~*~*~*~*</p>
    </div>
 -->
    <!-- <div class="object column fourth">
      <ul>
        <li><a href="https://www.linkedin.com/kyle-sparks-137928a3/">LinkedIn</a></li>
        <li><a href="https://twitter.com/kylesparks">Twitter</a></li>
        <li><a href="https://www.instagram.com/_ky_ky_sparks_//">Instagram</li>
        <li><a href="mailto:kyletsparks@gmail.com?Subject=what%27s%20up" target="_top">Email</a></li>
        <li><a href="https://github.com/kylesparks">GitHub</a></li>
        <li>&#x270C; &#x1F60E; &#x270C;</li>
      </ul>
    </div> -->
  </div>
</footer>